.ContainerModal{

    padding: 10px;
    padding-bottom: 30px;
    position: absolute;
    z-index: 10;
    left: 10%;
    top: 80px !important;
    border-radius: 10px;
    width: 60%;
    background-color: white;
}

.hr {
    margin-top: -25px;
    height: 10px;
    width: 100%;
}

.containerOne{

    padding: 10px;
    margin-top: 10px;
    width: 95%;
    border: 1px solid green;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    
}
.containerTwo{

    padding-top: 20px;
    padding-bottom: 20px;
    width: 95%;
    border: 1px solid green;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 10px;

}

.myinputOrdonnance{

    margin-left: 25px;
    border: none;
    outline: none;
    width: 60%;
    background-color: #808191 !important;
    border-radius: 5px;
}

.myContainerThree{

    position: absolute;
    width: 55%;
    padding: 15px;
    top: 10px;
    left: 30%;
    z-index: 20;
    border-radius: 10px;
    background-color: #ffa;
    

}
#mysep{

    background-color : black !important ;
    height: 2px;
    width: 100%;
    margin-left: 0 !important;
    margin-top: 0 !important;
}
#mysep2{

    background-color : black !important ;
    height: 2px;
    width: 100%;
    margin-left: 0 !important;
    margin-top: 10 !important;

}
#arret input[type="date"]{
    background-color: #ffffff ; 
    font-family: "Roboto Mono" , monospace;
    color: black;
    border: none;
    outline: none;
}
::-webkit-calendar-picker-indicator{
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold !important;
}

